name: Complete Pipeline

on:
    push: 
        branches: [main]
    pull_request: 
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
           - name: Run linter
             uses: actions/checkout@v4
    
    test:
        needs: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Run tests
              run: echo "Running tests..."

    build:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - uses: actions/checkout@v4
            - name: Run build
              run: echo "Builiding"

    deploy:
        runs-on: ubuntu-latest
        needs: build
        if: github.ref == 'refs/heads/main'
        steps:
            - name: Deploy to production
              run: echo "deploying"

            
