name: Node.js CI

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '20'

            - name: Install dependecies
              run: npm i

            - name: Running tests
              run: npm run test
            
            - name: Build
              run: npm run build
