name: Reusable Deploy

on: 
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
        secrets:
            deploy-token:
                required: true
            
jobs:
    deploy:
        runs-on: ubuntu-last
        steps: 
            - uses: actions/checkout@v4

            - name: Deploy to ${{ inputs.environment }}
              env:
                TOKEN: ${{ secrets.deploy-token }}
              run: echo "Deploying to ${{ inputs.environment }}"
